<template>
  <v-container class="secondary" grid-list-md style="width: 600px">
    <h1>Import Oxygen devices datas</h1>
    <v-alert color="info" text> Only csv format file are accepted. </v-alert>
    <div class="pb-4">
      <v-card :loading="loader" elevation="2">
        <v-row align="center" justify="center" no-gutters>
          <v-col cols="8">
            <v-file-input
              ref="fileupload"
              :disabled="loader"
              accept=".csv,.CSV"
              dense
              label="Search a file"
              show-size
              small-chips
              v-model="currentFile"
            ></v-file-input>
          </v-col>
          <v-col class="pl-2" cols="4">
            <v-btn
              :loading="loader"
              class="ma-2 white--text"
              color="success"
              dense
              @click="submitFile"
            >
              Import
              <v-icon dark right> mdi-cloud-upload</v-icon>
            </v-btn>
          </v-col>
        </v-row>
      </v-card>
    </div>
  </v-container>
</template>

<script lang="ts">
import ApiUploadOxygen from "@/../api/ApiUploadOxygen";
import { Component, Vue } from "vue-property-decorator";

@Component({})
export default class ImportDevicesOxygen extends Vue {
  loader = false;
  clearInput = 0;
  currentFile: string | Blob | null = null;

  /**
   * Display count of Updated and Created Devices and Manufacturer
   * @param devicesCount
   */
  displayInfosDevices(devicesCount: any): void {
    if (
      devicesCount.newDeviceItemCount === 0 &&
      devicesCount.newManufacturerCount === 0 &&
      devicesCount.updatedDeviceItemCount === 0
    ) {
      this.$snackbar.inform("No added or updated Device or Manufacturer");
    } else {
      const message =
        devicesCount.newDeviceItemCount +
        " Oxygen device(s) added. <br>" +
        devicesCount.newManufacturerCount +
        " Manufacturer(s) added. <br>" +
        devicesCount.updatedDeviceItemCount +
        " Oxygen device(s) updated. ";
      this.$snackbar.success(message);
    }
  }

  submitFile(): void {
    let formData = new FormData();
    formData.append("file", this.currentFile!);
    this.clearInput++;

    if (!this.currentFile) {
      this.$snackbar.warning("Please select an oxygen csv file");
      return;
    }
    this.loader = true;
    ApiUploadOxygen.post(formData)
      .then((response) => {
        this.displayInfosDevices(response);
      })
      .catch((error) => {
        this.$snackbar.error(
          "Something wrong happened during import. Please check that the provided file is a csv oxygen file. error details : " +
            error.message
        );
      })
      .finally(() => {
        this.loader = false;
        this.currentFile = null;
      });
  }
}
</script>
